.Logo {
  background-color: #fff;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
}

.Logo img {
  height: 100%;
}

@media (min-width: 500px) {
  .Logo {
    border-radius: 5px;
  }
}
