.Auth {
  margin: 10% auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .Auth {
    margin: 30% auto;
  }
}

.AuthTitle {
  color: #5c9210;
}

.Input {
  display: block;
}

.ErrorMessage {
  background-color: #e74c3c;
  color: #fff;
  margin: 0;
}
